.active{
  background-color: rgba(0,0,0,.3) !important;
  color: white !important;
  font-weight: bolder !important;
}


@media screen and (max-width: 1024px){
  .nav-item{
    display: block;
    width: 100%;
  }
  .nav{
    margin-bottom: 1rem;
  }
}
