/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";


.light-theme {
  background-color: white !important;
  color: #282e36;
}

.dark-theme {
  background-color: #282e36 !important;
  color: white;
}

